@import "reset/reset";
@import "variables/variables";
@import "fonts/fonts";

@import "themes/dark";
@import "themes/light";


.app {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

._WuQ0f, ._3lLk3, ._2dZTy, ._35nLX {
  fill: var(--bg) !important;
  color: var(--text) !important;
  background-color: var(--bg);
}


._9w8d5, ._3KcaM {
  fill: var(--text) !important;
  font: var(--paragraph-3);
}

.calendarTop {
  stroke: var(--text);
  font: var(--paragraph-3);
}

.mantine-2gxw71:hover {
  background-color: var(--bg-dark) !important;
}