.wrapper {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: var(--border-radius-6);
  background-color: var(--bg);
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.05);

}