.app.dark {
  /* Темная тема */
  --primary: #5951F6;

  --secondary: #F988FA;

  --success: #52c41a;

  --warning: #ff6b2b;

  --danger: #f5222d;

  --info: #1890ff;

  --link: #096dd9;

  --white: #ffffff;
  --black: #000000;

  --text: #ffffff;
  --text-invert: #192A3E;

  --bg: #262626;
  --bg-dark: #1f1f1f;
}
