.app.light {
  /* Светлая тема */
  --primary: #5951F6;

  --secondary: #F988FA;

  --success: #52c41a;

  --warning: #ff6b2b;

  --danger: #f5222d;

  --info: #1890ff;

  --link: #096dd9;

  --white: #ffffff;
  --black: #000000;

  --text: #192A3E;
  --text-invert: #ffffff;

  --bg: #ffffff;
  --bg-dark: #F2F5FF;
}
